In [3]:
#vairiables
myFirstVariable=1
mySecondVariable=2
myFirstVariable="hello you"

In [7]:
#numeric
value=1 #integer
value=1.2 #floating point

In [9]:
#strings
name='shukruth'
name="shukruth"
name="""shukruth"""
#strings are immutable 
#a='me' a[1]=y will give you error

In [11]:
#local scope 
def some_function():
    testMode=False
    
print(testMode)#breaks as the variable does not exist outside

NameError: name 'testMode' is not defined

In [13]:
#in python if-else and for/while loops does not create local scope 
for i in range(1,11):
    test_scope="inside loop"
print(test_scope)

inside loop

In [15]:
is_python_awesome = True
if is_python_awesome:
    test_scope = "Python is awesome"
print(test_scope)

Python is awesome

In [17]:
#global scope variables can be accessed from any function 
TestMode = True
def some_function():
  global TestMode
  TestMode = False
some_function()

print(TestMode) #Returns False

False

In [19]:
#finding varibale type 
name='shukruth'
type(name)

str

In [25]:
#operations
1//3 #returns 0

0

In [27]:
1/3 #return 0.333

0.3333333333333333

In [29]:
#return type of division is always float
a=10/5
print(type(a))

<class 'float'>

In [31]:
#power
2**3

8

In [33]:
#modulus
7%2

1

In [35]:
#string operations

In [37]:
'a'+'b'

'ab'

In [39]:
'a'*3

'aaa'

In [41]:
#slicing
y='abc'
print(y[:2])
print(y[1:])
print(y[:-2])
print(y[-2:])

ab
bc
a
bc

In [45]:
#reversing
x='abc'
x=x[::-1]
print(x)

cba

In [49]:
#finding indexes
name = 'farhad'
index = name.find('r')
print(index)
#returns 2
name = 'farhad'
index = name.find('a', 2) # finds index of second a
print(index)
#returns 4

2
4

In [51]:
#for regex use:
#split(): splits a string into a list via regex
#sub(): replaces matched string via regex
#subn(): replaces matched string via regex and returns number of replacements

In [53]:
#casting
#str(x): To string
#int(x): To integer
#float(x): To floats

In [55]:
#set is an unordered data collection without any duplicates 
set = {9,1,-1,5,2,8,3, 8}
print(set)

{1, 2, 3, 5, 8, 9, -1}

In [57]:
#set operations
#set.add(item) — adds item to the set
#set.remove(item) — removes item from the set and raises error if it is not present
#set.discard(item) — removes item from the set if it is present
#set.pop() — returns any item from the set, raises KeyError if the set is empty
#set.clear() clears the set

In [61]:
#intersection of sets
a = {1,2,3}
b = {3,4,5}
c = a.intersection(b)
print(c)

{3}

In [65]:
#difference 
a = {1,2,3}
b = {3,4,5}
c = a.difference(b)
print(c)

{1, 2}

In [67]:
#ternary operator  [If True] if [Expression] Else [If False]
Received = True if x == 'Yes' else False

In [69]:
#functions
def some_function():
    print('hello')
some_function() #func call

hello

In [71]:
#length
print(len('hello'))

5

In [75]:
#conditions
if a == b:
  print( 'a is b')
elif a < b:
  print ('a is less than b')
elif a > b:
  print ('a  is greater than b')
else:
  print ('a is different')

a is different

In [79]:
#while
#while (input < 0):
# do_something(input)
# input = input-1

In [81]:
#for
#for  i in range(0,10)

In [85]:
#break
for i in range(0,10):
 if (i==5):
   break

In [87]:
#collections

In [99]:
#lists holds sequence of values of any data types they are mutable 
my_list=['a','b']
my_list.append('C') #adds at the end
my_list[1] = 'D' #update
my_list.pop(1) # removes

del my_list[1:2] # removes
#my_list.extend(another_list) # adds second list at end
my_list.sort() #this is inplace sort

In [101]:
#tuples same but faster than lists immutable
#my_tuple = tuple()
#or
#my_tuple = 'f','m'
#or
#my_tuple = ('f', 'm')